*{
    margin: 0 auto;             /*整体背景*/
   
    background-color: rgb(213, 235, 255);
}
.head{
    font-size: 40px;                /*太原理工大学 云顶书院*/
    margin: 0;
    padding: 0;
    border-left: 10px solid yellow ;   /*左黄边框*/
    margin-left: 15%;
}
.enter{                             /*学习端管理端大盒子*/
    display: flex;
    width: 70%;
    height: 150px;
    justify-content:space-around;
    margin-top: 300px;

}
.student_button,.teacher_button {           /*按钮样式*/
    display: block;
    width: 30%;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    line-height: 130px;
    border: 1px solid rgb(165, 211, 255);
    border-radius: 40px;
    background-color: rgb(165, 211, 255);
    cursor:pointer;
    transition: 1.2s;
}
a{                              /*消除链接自带样式*/
    text-decoration: none;
     color: inherit;
     background-color: rgb(165, 211, 255);
}
.student_button:hover ,.teacher_button:hover{   /*把鼠标放到按钮变化样式*/
    scale: 1.2;
    box-shadow: 5px 5px 5px black;
}