html {
    margin: 0px;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.top {
    width: 100%;
    height: 11%;
    background-color: #3c7b9e;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.back {
    width: 10%;
    background-color: transparent;
    border-width: 0;
    transition-duration: 0.3S;
}

.back>img {
    width: 55%;
    height: 80%;
}

.back:hover {
    transform: scale(0.8);
}

.logo {
    width: 26%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.logoImg {
    width: 43%;
    height: 90%;
}

.logo>a {
    width: 57%;
    height: 80%;
    margin-top: 3%;
    font-size: 225%;
    color: #f3ffff;
    vertical-align: bottom;
}

img {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 89%;
    display: flex;
    justify-content: space-between;
}

.search {
    width: 30%;
    height: 100%;
}

.all {
    width: 60%;
    height: 100%;
    border-left: dotted 2px rgb(92, 92, 166);
}

#search {
    border-radius: 45px;
    width: 80%;
    margin-left: 10%;
    border-color: rgb(25, 48, 92);
    text-align: center;
    color: cornflowerblue;
}

.search p {
    text-align: center;
    margin-top: 50%;
    color: rgb(12, 34, 76);
}

#submmit {
    width: 40%;
    text-align: center;
    margin: auto;
    position: relative;
    top: 6%;
    border-radius: 45px;
    background-color: cornflowerblue;
    color: white;
    font-size: 100%;
    height: 3%;
    transition-duration: 0.3S;
}

#submmit:hover {
    transform: scale(0.8);
}
.all>div{
    text-align: center;
    font-size: 150%;
    margin-bottom: 1%;

}