body {
    background: url(https://18403581474.oss-cn-beijing.aliyuncs.com/img/202402201216943.jpeg) no-repeat;
    background-size: cover;         /*设置整个页面背景*/
    margin: 0, auto;
}
.button_login  {                  /*按钮样式设置*/
    font-weight: 700;
    font-size: 35px;
    height: 65px;
    background-color: rgb(64, 121, 182);
    cursor: pointer;
    border: 1px solid rgb(165, 211, 255);
    border-radius: 40px;
    transition: 1.2s;
    text-decoration: none;
    color: white;
    background-color: rgb(64, 121, 182);
    width: 20%;
    height: 100px;
    margin-left: 800px;
    margin-top: 100px;
}

.button_login:hover{            /*按钮鼠标变化样式*/
    scale: 1.2;
    box-shadow: 2px 2px 2px black;
}

    

.student_id,
.student_password {
    /*账号密码样式设置*/
    height: 70px;
    background-color: rgb(64, 121, 182);
    border: 1px solid rgb(165, 211, 255);
    border-radius: 20px;
    font-size: 30px;
    color: white;
    line-height: 60px;
    text-align: center;
}

a {
    /*取消链接自带属性*/
    text-decoration: none;
    color: white;
    background-color: rgb(64, 121, 182);
}

.input {
    /*设置输入账号密码框样式*/
    width: 70%;
    height: 40%;
    border-radius: 10px;
    margin: 0;
    padding: 0;

}

input[type="text"] {         /*修改输入框里字体大小*/
    font-size: 15px;
}

.student_login {
    /*设置登录样式*/
    height: 70px;
    background-color: rgb(64, 121, 182);
    border: 1px solid rgb(165, 211, 255);
    border-radius: 20px;
    font-size: 45px;
    color: white;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    transition: 1s;
}
.student_login:hover{           /*登录鼠标样式*/
    scale: 1.2;
    box-shadow: 2px 2px 2px black;
}
.eye {          /*密码眼睛设置*/
    transform: scale(0.3);
    margin-top: -87px;
    margin-left: 235px;
    cursor: pointer;
    
}
.login{             /*点登录出来的账号密码登录盒子界面*/
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 30%;
    height: 30%;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    height: 400px;
    margin-left: 800px;
    margin-top: 230px;
}
